@import "includes/fonts"

html, body
  margin: 0
  padding: 0
  background: $background
  color: $foreground
  font-family: 'Montserrat', sans-serif

@import "includes/containers"
@import "includes/forms"
@import "includes/messages"
