/*!
 / Copyright © 2019 by Angius
 / Last modified: 19.08.2019, 05:28
 /
@import "includes/fonts"
@import "includes/icons"

*
  scrollbar-color: $foreground-20 $foreground-20
  scrollbar-width: thin
  box-sizing: border-box

html, body
  margin: 0
  padding: 0
  background: $background
  color: $foreground
  font-family: 'Montserrat', sans-serif
  font-weight: 300
  overflow-x: hidden

html
  scroll-padding-top: calc(#{$nav-height} + 1rem)

@import "includes/containers"
@import "includes/forms"
@import "includes/messages"
@import "includes/navbar"
@import "includes/dropdown"
@import "includes/links"
@import "includes/profile"
@import "includes/buttons"
@import "includes/comments"
@import "includes/markdown"
@import "includes/transitions"

@import "includes/cards"

@import "includes/admin"
@import "includes/modal"
@import "includes/slim-select"
