@import url("https://fonts.googleapis.com/css?family=Montserrat:300,400&display=swap");
* {
  scrollbar-color: rgba(238, 238, 238, 0.2) rgba(238, 238, 238, 0.2);
  scrollbar-width: thin; }

html, body {
  margin: 0;
  padding: 0;
  background: #181818;
  color: #eeeeee;
  font-family: "Montserrat", sans-serif;
  font-weight: 300;
  overflow-x: hidden; }

div.container {
  display: flex;
  flex-direction: row; }
  div.container.v-centered {
    align-items: center; }
  div.container.h-centered {
    justify-content: center; }
  div.container.v-full {
    height: calc(100vh - 50px);
    margin-top: 50px; }
  div.container.h-full {
    width: 100vw; }
  div.container.narrow {
    width: auto; }

div.column.main {
  width: 50vw;
  padding: 2rem; }
@media only screen and (max-width: 1300px) {
  div.column.main {
    width: 80vw; } }
@media only screen and (max-width: 768px) {
  div.column.main {
    width: 100vw; } }

form.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border-radius: 20px;
  border: 1px solid rgba(0, 0, 0, 0.3);
  box-shadow: 0 0 10px 1px rgba(238, 238, 238, 0.2); }
  form.form > .auto-width {
    width: auto; }
  form.form > div.field {
    display: flex;
    flex-direction: column;
    margin: 4px; }
    form.form > div.field.checkbox {
      flex-direction: row; }
    form.form > div.field > label {
      font-size: 0.9rem;
      margin: 2px; }
      form.form > div.field > label.hidden {
        visibility: collapse; }
    form.form > div.field > input {
      height: 24px;
      width: 250px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #eeeeee;
      font-size: 1rem; }
      form.form > div.field > input[type=checkbox] {
        width: 24px; }
    form.form > div.field > .submit.button {
      width: 250px;
      padding: 5px;
      border-radius: 5px;
      border: 1px solid #eeeeee;
      font-size: 1rem;
      height: 50px; }
  form.form > div#messages {
    position: absolute;
    top: 50px; }

div.message {
  padding: 10px;
  border-radius: 10px;
  border: 1px solid;
  transition: opacity 1s ease-in-out 3s; }
  div.message.timed {
    animation: vanish 2s ease-in-out 1s forwards, remove 0s ease-in 3s forwards; }
  div.message.error {
    background: rgba(255, 30, 35, 0.6);
    color: rgba(57, 7, 8, 0.84);
    border-color: rgba(203, 24, 28, 0.64); }
  div.message.warning {
    background: rgba(255, 255, 77, 0.6);
    color: rgba(57, 57, 17, 0.84);
    border-color: rgba(203, 203, 61, 0.64); }
  div.message.info {
    background: rgba(77, 160, 255, 0.61);
    color: rgba(17, 36, 58, 0.844);
    border-color: rgba(61, 128, 203, 0.649); }
  div.message.success {
    background: rgba(77, 255, 77, 0.61);
    color: rgba(17, 58, 17, 0.844);
    border-color: rgba(61, 203, 61, 0.649); }

@keyframes vanish {
  to {
    opacity: 0; } }
@keyframes remove {
  to {
    height: 0;
    width: 0;
    margin: 0;
    padding: 0; } }
div#navbar {
  display: flex;
  position: fixed;
  width: 100%;
  background: #181818;
  padding: 0;
  margin: 0;
  top: 0;
  height: 50px;
  align-items: center;
  z-index: 9999;
  box-shadow: 0 0 10px 1px rgba(238, 238, 238, 0.2); }
  div#navbar hr {
    height: 30px;
    color: rgba(238, 238, 238, 0.2); }
  div#navbar > .brand {
    font-size: 1rem;
    padding: 0.5rem 1rem;
    font-weight: 400; }
  div#navbar > .hamburger {
    display: none;
    padding: 8px; }
  div#navbar > .items {
    display: flex;
    align-items: center; }
    div#navbar > .items.right {
      margin-left: auto; }
    div#navbar > .items .item {
      padding: 8px;
      display: flex;
      align-items: center; }
      div#navbar > .items .item.avatar {
        padding: 4px; }
        div#navbar > .items .item.avatar > img {
          border: 1px solid #eeeeee;
          border-radius: 10%; }
        div#navbar > .items .item.avatar > p {
          margin: 4px 8px 4px 4px; }

@media only screen and (max-width: 768px) {
  div#navbar {
    height: auto;
    flex-direction: column;
    align-items: normal; }
    div#navbar hr {
      display: none; }
    div#navbar > .brand {
      font-size: 1.5rem;
      font-weight: 400; }
    div#navbar > .hamburger {
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer; }
    div#navbar > .items {
      display: none; }
      div#navbar > .items.visible {
        display: flex;
        flex-direction: column;
        align-items: end; }
      div#navbar > .items.right {
        margin-left: 0; }
      div#navbar > .items > .item {
        height: 40px; }
        div#navbar > .items > .item.avatar {
          padding: 4px;
          display: flex;
          flex-direction: row-reverse; }
          div#navbar > .items > .item.avatar > img {
            width: 30px;
            height: 30px; } }
.dropdown {
  height: auto;
  padding: 0; }
  .dropdown > .dropdown-content {
    display: none;
    position: absolute;
    top: 50px;
    color: #eeeeee;
    background: #181818;
    min-width: 160px;
    box-shadow: 0 0 10px 1px rgba(238, 238, 238, 0.2);
    padding: 2px 0 12px;
    margin-top: 10px;
    z-index: 0;
    transition: display 0.5s; }
    .dropdown > .dropdown-content:before {
      content: "";
      height: 9px;
      width: 100%;
      position: absolute;
      top: -10px;
      background: inherit;
      border-top: 1px solid rgba(238, 238, 238, 0.2);
      z-index: 2; }
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: column; }
  .dropdown > i {
    font-size: 1.5em;
    margin: 10px; }
  .dropdown a.dropdown-item {
    border: none;
    padding: 4px 6px;
    margin: 4px 0;
    cursor: pointer; }

@media only screen and (max-width: 768px) {
  .dropdown {
    display: flex;
    justify-content: space-between;
    width: 100%; }
    .dropdown > .dropdown-content {
      display: flex;
      position: initial;
      color: #eeeeee;
      min-width: initial;
      box-shadow: none;
      padding: 0;
      margin-top: 0;
      z-index: initial;
      transition: none; }
    .dropdown:hover .dropdown-content {
      display: flex;
      flex-direction: row; }
    .dropdown a.dropdown-item {
      border: 1px solid rgba(238, 238, 238, 0.2);
      border-radius: 0.5rem;
      padding: auto;
      margin: auto 0.5rem;
      cursor: pointer; } }
a {
  text-decoration: none;
  color: #eeeeee;
  transition: color 250ms ease-in-out; }
  a:after {
    margin-top: -1px;
    display: block;
    content: "";
    border-bottom: solid 1px #eeeeee;
    transform: scaleX(0);
    transition: transform 250ms ease-in-out, border-bottom-color 250ms ease-in-out; }
  a:hover {
    color: #00cbc3;
    transition: color 250ms ease-in-out; }
    a:hover:after {
      border-bottom-color: #00cbc3;
      transform: scaleX(1);
      transition: transform 250ms ease-in-out, border-bottom-color 250ms ease-in-out; }

div#profile {
  width: 100%;
  display: flex;
  justify-content: space-between; }
  div#profile > .column > .container {
    box-shadow: 0 0 10px 1px rgba(238, 238, 238, 0.2);
    margin: 10px;
    padding: 0.5rem;
    border-radius: 0.5rem; }
  div#profile > .column.left {
    width: 300px; }
    div#profile > .column.left > .container {
      display: flex;
      flex-direction: column;
      align-items: center; }
      div#profile > .column.left > .container > .part {
        display: flex;
        flex-direction: column;
        align-items: center; }
      div#profile > .column.left > .container > div.top > h1.name {
        font-size: 1.5rem; }
      div#profile > .column.left > .container > div.top > img.avatar {
        box-sizing: border-box;
        border: 2px solid #eeeeee;
        border-radius: 50%;
        width: 100%; }
      div#profile > .column.left > .container > div.top > h2.title {
        font-size: 1.1rem;
        font-weight: normal; }
      div#profile > .column.left > .container > div.bottom > div.date {
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: center; }
        div#profile > .column.left > .container > div.bottom > div.date > p {
          margin: 0; }
          div#profile > .column.left > .container > div.bottom > div.date > p.label {
            color: rgba(238, 238, 238, 0.5); }
          div#profile > .column.left > .container > div.bottom > div.date > p.date {
            color: #eeeeee; }
      div#profile > .column.left > .container > div.bottom > .edit {
        margin-top: 1rem; }
  @media only screen and (max-width: 768px) {
    div#profile > .column.left {
      width: 100%; }
      div#profile > .column.left > .container {
        flex-direction: row;
        justify-content: space-around; }
        div#profile > .column.left > .container > .part {
          width: 50%;
          margin-left: 1rem;
          margin-right: 1rem; } }
  div#profile > .column.right {
    width: 100%; }
    div#profile > .column.right > .container {
      display: flex;
      flex-direction: column;
      align-items: center; }
      div#profile > .column.right > .container > .bio {
        width: 100%; }
        div#profile > .column.right > .container > .bio > h2 {
          color: rgba(238, 238, 238, 0.5);
          border-bottom: 2px solid rgba(238, 238, 238, 0.2);
          margin: 0; }

@media only screen and (max-width: 768px) {
  div#profile {
    flex-direction: column; }
    div#profile > .column > .container {
      width: calc(100vw - 1rem);
      margin: 1rem 0;
      border-radius: 0; } }
.button {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 250px;
  padding: 5px;
  border-radius: 5px;
  border: 1px solid #eeeeee;
  font-size: 1rem;
  height: 50px;
  text-decoration: none; }
  .button.fluid {
    width: 100%;
    height: auto; }

#comments {
  padding: 0;
  margin: 0; }
  #comments > form {
    width: 100%; }
    #comments > form > .comment-box {
      box-shadow: none;
      display: flex;
      flex-direction: column;
      padding: calc(20px - 1rem) 20px 20px;
      align-items: center;
      border-radius: 20px; }
      #comments > form > .comment-box > .main {
        display: block;
        width: 100%; }
        #comments > form > .comment-box > .main label.hidden {
          display: none; }
        #comments > form > .comment-box > .main > textarea {
          width: 100%;
          border: none;
          background-color: transparent;
          border-bottom: 1px solid rgba(238, 238, 238, 0.2);
          font-family: "Montserrat", sans-serif;
          font-weight: 300;
          color: #eeeeee; }
        #comments > form > .comment-box > .main > p.error {
          margin: 0;
          padding: 0 4px;
          font-size: 0.8rem;
          height: 1rem;
          font-weight: lighter;
          color: rgba(57, 7, 8, 0.84); }
          #comments > form > .comment-box > .main > p.error.active {
            background: rgba(255, 30, 35, 0.6); }
      #comments > form > .comment-box > .bottom {
        display: flex;
        flex-direction: row;
        width: 100%;
        margin-top: 4px;
        justify-content: space-between;
        align-items: center; }
        #comments > form > .comment-box > .bottom > .counter {
          margin: 0 1rem; }
        #comments > form > .comment-box > .bottom > button.send {
          border: none;
          background: transparent;
          color: #eeeeee;
          padding: 0;
          width: 6rem;
          height: 2rem;
          transition: background-color 200ms ease-in-out; }
          #comments > form > .comment-box > .bottom > button.send:hover {
            background: rgba(0, 203, 195, 0.5); }
  #comments > .comments-list {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 1rem; }
    #comments > .comments-list > .comment {
      width: 96%;
      display: grid;
      grid-column-gap: 1rem;
      grid-template-columns: 50px 1fr;
      grid-template-rows: 1.5rem 1fr 1rem;
      grid-template-areas: "avatar top" "avatar body" "meta meta";
      padding: 0.5rem 0;
      margin: 0 2% 0.5rem;
      border-bottom: 1px solid rgba(238, 238, 238, 0.2); }
      #comments > .comments-list > .comment .item {
        color: rgba(238, 238, 238, 0.2);
        transition: color 100ms ease-in-out;
        cursor: pointer; }
        #comments > .comments-list > .comment .item:hover {
          color: rgba(238, 238, 238, 0.5); }
      #comments > .comments-list > .comment > .meta {
        grid-area: meta;
        display: flex;
        justify-content: space-between;
        font-size: 0.8rem; }
        #comments > .comments-list > .comment > .meta > .buttons > button {
          background: transparent;
          border: none;
          width: 1.5rem;
          margin: 0;
          padding: 0; }
      #comments > .comments-list > .comment > .avatar {
        grid-area: avatar; }
        #comments > .comments-list > .comment > .avatar > img {
          width: 50px;
          height: 50px;
          border: 1px solid #eeeeee;
          border-radius: 10%; }
      #comments > .comments-list > .comment > .top {
        grid-area: top;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        font-size: 0.9rem; }
        #comments > .comments-list > .comment > .top > .author {
          font-weight: 400; }
        #comments > .comments-list > .comment > .top > .date {
          color: rgba(238, 238, 238, 0.5); }
          #comments > .comments-list > .comment > .top > .date:hover {
            color: rgba(238, 238, 238, 0.8); }
      #comments > .comments-list > .comment > .body {
        grid-area: body;
        margin: 0; }
        #comments > .comments-list > .comment > .body p {
          margin: 0.2rem 0; }
          #comments > .comments-list > .comment > .body p > code {
            background-color: rgba(238, 238, 238, 0.2);
            padding: 0.2rem;
            border-radius: 3px; }
          #comments > .comments-list > .comment > .body p > img {
            width: 90%;
            margin: 0 5%;
            border-radius: 1rem; }
        #comments > .comments-list > .comment > .body h1, #comments > .comments-list > .comment > .body h2, #comments > .comments-list > .comment > .body h3, #comments > .comments-list > .comment > .body h4, #comments > .comments-list > .comment > .body h5, #comments > .comments-list > .comment > .body h6 {
          margin: 0.2rem 0 0.5rem;
          color: rgba(238, 238, 238, 0.5); }
        #comments > .comments-list > .comment > .body h1 {
          font-size: 1.5rem; }
        #comments > .comments-list > .comment > .body h2 {
          font-size: 1.4rem; }
        #comments > .comments-list > .comment > .body h3 {
          font-size: 1.3rem; }
        #comments > .comments-list > .comment > .body h4 {
          font-size: 1.2rem; }
        #comments > .comments-list > .comment > .body h5 {
          font-size: 1.1rem; }
        #comments > .comments-list > .comment > .body h6 {
          font-size: 1.05rem; }
        #comments > .comments-list > .comment > .body blockquote {
          margin: 0.2rem 0;
          padding-left: 1rem;
          border-left: 3px solid rgba(238, 238, 238, 0.2);
          font-style: italic; }
        #comments > .comments-list > .comment > .body pre {
          padding: 0.2rem;
          background-color: rgba(238, 238, 238, 0.2);
          border-radius: 3px; }
        #comments > .comments-list > .comment > .body a {
          display: inline-block;
          box-sizing: border-box;
          border-bottom: 1px dashed rgba(238, 238, 238, 0.5);
          transition: border-bottom-color 100ms ease-in-out; }
          #comments > .comments-list > .comment > .body a:hover {
            border-bottom-color: transparent; }

@media only screen and (max-width: 768px) {
  #comments {
    border-radius: 0; } }

/*# sourceMappingURL=dark.css.map */
