<div id="comments" class="container"
     xmlns:v-bind="http://www.w3.org/1999/xhtml"
     xmlns:v-on="http://www.w3.org/1999/xhtml">


    <div class="v-centered h-centered modal" v-if="report_modal" v-on:click.self="reportModal">
        <form class="form" @submit.stop.prevent="reportComment()">

            <div class="full field">
                <label for="reason">Reason</label>
                <input id="reason" name="reason" type="text" v-model="reason">
            </div>

            <div class="field">
                <label for="report" class="hidden">Report</label>
                <input name="report" class="submit button" id="report" type="submit" value="Report">
            </div>

        </form>
    </div>

    <p v-on:click="reportModal">AAA</p>

    {#====================#}
    {#    COMMENT FORM    #}
    {#====================#}
    <input id="token" type="hidden" name="token" value="{{ token }}">
    <input id="thread" type="hidden" name="thread" value="{{ thread }}">

    {% if user %}

        <form method="post" @submit.stop.prevent="sendComment" xmlns:v-bind="http://www.w3.org/1999/xhtml">

            <div class="comment-box">

                <div class="main">
                    <p class="error" v-bind:class="{ active: error }" v-on:click="dismissError()">${ error }</p>

                    <label for="body" class="hidden">Comment body</label>
                    <textarea name="body" id="body" rows="10" v-model="comment_body"></textarea>
                </div>

                <div class="bottom">
                    <div class="counter">${charsLeft}</div>

                    <div class="buttons">
                        <a href="/md" class="markdown button" target="_blank">MD</a>
                        <button class="send" @click="sendComment">
                            <i class="send icon"></i>
                        </button>
                    </div>

                </div>

            </div>
        </form>

    {% else %}

        <div class="ph">
            <a class="inner" href="/register">
                You need an account to post comments. Why not make one now?
            </a>
        </div>

    {% endif %}


    {#=====================#}
    {#    BOX O'COMMENTS   #}
    {#=====================#}

    <div class="comments-list">

        {# Comments shown by JS #}
        <div class="comment" v-for="c in comments_list">

            <div class="avatar">
                <img src="" v-bind:src="c.avatar" alt="" v-bind:alt="'c.user'+'\'s avatar'">
            </div>

            <div class="top">
                <div class="author" v-on:click="insertMention(c.user_id)">${ c.user }</div>
                <time class="date item" v-bind:datetime="c.date">${ c.date }</time>
            </div>

            <div class="body md" v-html="c.body"></div>

            <div class="meta">
                <div class="buttons">
                    {% if user %}
                    <button class="item" v-on:click.self="reportModal($event, c.id)">
                        <i class="warning icon"></i>
                    </button>
                    {% endif %}
                </div>
                <div class="id item">
                    #${ c.id }
                </div>
            </div>

        </div>

    </div>

</div>

<script type="application/javascript" src="{{ vasset('js/v-comments', 'min.js') }}"></script>
