/*!
 / Copyright © 2019 by Angius
 / Last modified: 19.08.2019, 05:28
 /
.button
  display: flex
  align-items: center
  justify-content: center
  box-sizing: border-box

  font-size: 1rem
  text-decoration: none

  height: 50px
  width: 250px
  padding: 5px

  border-radius: 1rem
  border: 1px solid $foreground

  cursor: pointer

  background-color: transparent
  color: $foreground
  &:hover
    color: $accent
    transition: color 250ms ease-in-out

  &.fluid
    width: 100%
    height: auto

  &.markdown
    height: auto
    width: auto
    border-color: $foreground-20

.buttons
  display: flex
  flex-direction: row
  justify-content: stretch
  align-items: stretch

  &>.button
    &.main
      border-radius: 1rem 0 0 1rem
      flex-grow: 5

    &.secondary
      border-radius: 0 1rem 1rem 0
      border-left: none
      flex-basis: 3rem
      flex-grow: 1
