/*!
 / Copyright © 2019 by Angius
 / Last modified: 19.08.2019, 06:39
 /
div
  &.container
    display: flex
    flex-direction: row

  &.v-centered
    align-items: center

  &.h-centered
    justify-content: center

  &.spread
    justify-content: space-around

  &.v-full
    min-height: calc(100vh - #{$nav-height+$foot-height})
    margin-top: $nav-height

  &.h-full
    width: 100vw

  &.narrow
    width: auto


div.column
  display: flex
  flex-direction: column

  &.v-centered
    justify-content: center

  &.h-centered
    align-items: center

  &.main
    width: 50vw
    padding: 2rem
    transition: width 200ms ease-in-out

    @media only screen and (max-width: 1600px)
      width: 60vw

    @media only screen and (max-width: 1300px)
      width: 80vw

    @media only screen and (max-width: 760px)
      width: 100vw

footer
  height: $foot-height

  padding: 0 1rem
