/*!
 / Copyright © 2019 by Angius
 / Last modified: 19.08.2019, 05:28
 /
form.form
  display: flex
  flex-direction: column
  align-items: center
  padding: 20px
  width: max-content

  background-color: $background
  border-radius: 20px
  border: 1px solid rgba(0, 0, 0, 0.3)
  box-shadow: $subtle-shadow

  &.horizontal
    flex-direction: row
    @media only screen and (max-width: 768px)
      flex-direction: column

  &.auto-width
    width: auto

  &.full
    width: 100%

  &.v-spaced
    margin: 5rem 0

  hr
    width: 100%

  & div.field
    display: flex
    flex-direction: column
    margin: 4px

    &.group
      width: auto

    &.full
      width: 100%

    &.checkbox
      flex-direction: row
      align-items: center

    &>label
      font-size: 0.9rem
      margin: 2px

      &.hidden
        visibility: collapse

      &>a
        color: $accent
        text-decoration: none
        border-bottom: 1px solid transparent
        transition: border-bottom-color 200ms ease-in-out
        &:hover
          color: $accent-80
          border-bottom: 1px solid $accent-80

    &>input
      height: 24px
      width: 250px
      padding: 5px 1rem
      border-radius: 1rem
      border: 1px solid $foreground
      font-size: 1rem
      background-color: transparent
      color: $foreground

      &[readonly]
        color: $foreground-50
        border-color: $foreground-50

      &[type=checkbox]
        width: 24px

    &>textarea
      resize: vertical
      background-color: transparent
      border-radius: 1rem
      padding: 1rem
      font-family: "Inconsolata", monospace
      color: $foreground

    &>.submit
      &.button
        width: 250px
        padding: 5px
        border-radius: 1rem
        border: 1px solid $foreground
        font-size: 1rem
        height: 50px
        cursor: pointer
        transition: color 250ms ease-in-out, border-color 250ms ease-in-out
        &:hover
          color: $accent
        &:disabled
          border-color: $foreground-20
          color: $foreground-20

    &.avatar
      margin-top: -120px
      &>img.avatar
        box-sizing: border-box
        border: 2px solid $foreground
        border-radius: 50%
        background-color: $background
        object-fit: cover
        width: 190px
        height: 190px


@media only screen and (max-width: 400px)
  form.form
    width: 100vw
    border-radius: 0
