/*!
 / Copyright © 2019 by Angius
 / Last modified: 19.08.2019, 06:52
 /
div#navbar
  display: flex
  position: fixed
  width: 100%
  background: $background
  padding: 0
  margin: 0
  top: 0
  height: $nav-height
  align-items: center
  z-index: 9999
  box-shadow: $offset-shadow

  & hr
    height: 30px
    color: $foreground-20

  &>.brand
    font-size: 1rem
    padding: .5rem 1rem
    font-weight: 400
    transition: font-size 100ms ease-in-out

  &>.hamburger
    display: none
    padding: 14px 20px

  &>.items
    display: flex
    align-items: center

    &.right
      margin-left: auto

    & .item
      height: $nav-height
      min-width: $nav-height - 16px
      padding: 8px
      display: flex
      align-items: center

      &.avatar
        padding: 4px
        margin: 0 1rem 0 0
        min-width: 110px

        &>img
          height: 40px
          width: 40px
          border: 1px solid $foreground
          border-radius: 10%
          object-fit: cover
        &>p
          margin: 4px 8px 4px 4px


@media only screen and (max-width: 768px)
  div#navbar
    height: auto
    flex-direction: column
    align-items: normal

    & hr
      display: none

    &>.brand
      font-size: 1.5rem
      font-weight: 400

    &>.hamburger
      align-self: flex-end
      display: flex
      position: absolute
      cursor: pointer

      align-items: center
      &>i.icon
        height: 1rem

    &>.items
      display: none

      &.visible
        display: flex
        flex-direction: column
        align-items: end

      &.right
        margin-left: 0

      &>.item
        height: 40px
        &.avatar
          padding: 4px
          display: flex
          flex-direction: row-reverse
          &>img
            width: 30px
            height: 30px
