{% extends './scaffolds/public_scaffold.twig' %}

{% block scripts %}
    <script src="https://www.google.com/recaptcha/api.js" async defer></script>
{% endblock %}

{% block body %}
    <div class="narrow h-centered container">

        <form id="forgot" class="form" method="POST">

            <div id="messages">

                {% if messages %}
                    <div class="error message field">
                        <b>Please correct the following error(s):</b>
                        <ul>
                            {% for m in messages %}
                                <li>{{ m }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                <label for="email">Email</label>
                <input id="email" name="email" v-model="email" type="email" required>
            </div>

            <div class="field">
                <div class="g-recaptcha" data-sitekey="6LduV68UAAAAAKV59SgfmnVEfVed0bUUsKUaN-sA"></div>
            </div>

            <input id="token" type="hidden" name="token" value="{{ token }}">

            <div class="field">
                <label for="f-submit" class="hidden">Submit</label>
                <input id="f-submit" class="submit button" type="submit" value="Submit">
            </div>

        </form>

    </div>
{% endblock %}
