{% extends './scaffolds/public_scaffold.twig' %}

{% block body %}

    <div class="narrow h-centered container">

        <form class="form" id="login" method="POST" @submit="checkForm">

            <div id="messages">

                {% if message %}
                    <div class="success timed message field">
                        <p>{{ message }}</p>
                    </div>
                {% endif %}

                <div class="error message field" v-if="errors.length">
                    <b>Please correct the following error(s):</b>
                    <ul>
                        <li v-for="error in errors">${ error }</li>
                    </ul>
                </div>

                {% if messages %}
                    <div class="error message field" v-if="!errors.length">
                        <b>Please correct the following error(s):</b>
                        <ul>
                            {% for m in messages %}
                                <li>{{ m }}</li>
                            {% endfor %}
                        </ul>
                    </div>
                {% endif %}
            </div>

            <div class="field">
                <label for="login">Login</label>
                <input type="text" name="login" id="login" v-model="login" required>
            </div>

            <div class="field">
                <label for="password">Password</label>
                <input type="password" name="password" id="password" v-model="pass" required>
            </div>

            {% if has_mfa %}
                <div class="field">
                    <label for="mfa">2FA token</label>
                    <input type="password" name="mfa" id="mfa" required>
                </div>
            {% endif %}

            <div class="checkbox field">
                <label for="remember">Remember me</label>
                <input id="remember" name="remember" v-model="remember" type="checkbox">
            </div>

            <input id="token" type="hidden" name="token" value="{{ token }}">

            <div class="field">
                <label for="submit" class="hidden">Log in</label>
                <input id="submit" class="submit button" type="submit" value="Log in">
            </div>

        </form>

    </div>

    <script type="application/javascript" src="{{ vasset('js/v-login-validator', 'min.js') }}"></script>

{% endblock %}
